body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Rail_track.jpg/1200px-Rail_track.jpg");
}

.container {
    background-color: white;
    padding-bottom: 7px;
    padding-top: 10px;
}

label,
#train-times,
#userSubmit {
    font-weight: bold;
}

.jumbotron {
    background-color: orange;
    /* margin-top: 20px; */
}

h1 {
    font-size: 50px;
}

#train-time {
    padding-left: 20px;
}